* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --green-primary: #26A96C;
    --beige-primary: #F4E8C1;
    --black-primary: #001514;
    --white-primary: #FCFCFB;
    --dark-blue-secondary: #011936;
    --gold-accent: #FDB900;
    --blue-accent: #507DBC;
}

body {
    background-color: var(--beige-primary);
    width: 1440px;
    margin: auto;
}

#hero h2, #hero h1, #hero span, nav {
  opacity: 0;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to   { opacity: 1; transform: translateY(0); }
}

@keyframes blinking {
    from {filter: drop-shadow(none);}
    to {filter: drop-shadow(0px 0px 10px var(--gold-accent));}
}

.fade-in-h2 {
  animation: fadeIn 2s forwards;
}

.fade-in-h1 {
  animation: fadeIn 2s forwards;
}

.fade-in-span {
  animation: fadeIn 2s forwards, blinking 1.5s infinite alternate;
}

.fade-in-nav {
  animation: fadeIn 2s forwards;
}

ul{
    list-style-type: none;
}

nav {
    display: grid;
    width: 1440px;
    height: 6.875rem;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 1.25rem;
}

ul#nav-ul{
    list-style-type: none;
    display: flex;
    grid-column-start: 4;
    grid-column-end: 8;
    column-gap: 1.25rem;
    justify-content: space-around;
    align-items: end;
}

#nav-ul li{
    text-align: right;
    width: 100%;
    color: var(--blue-accent);
    font-family: Roboto;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.25rem;
}

#nav-ul a{
    text-decoration: none;
    color: var(--blue-accent);
}


#hero{
    height: 100vh;
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
    gap: 1.25rem 1.25rem;
}

#title-1{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 8;
    font-size: 4.5rem;
    font-family: 'Libre Baskerville';
    font-weight: normal;
    letter-spacing: 0.25rem;
    align-self: center;
}

#title-2{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 8;
    font-size: 4.5rem;
    font-family: 'Libre Baskerville';
    font-weight: normal;
    letter-spacing: 0.25rem;
    align-self: center;
}

#hero h2{
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 8;
    font-size: 2.25rem;
    font-family: Roboto;
    font-weight: bold;
    color: var(--green-primary);
    letter-spacing: 0.25rem;
    align-self: center;
}

#hero span{
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 4;
    font-size: 1.75rem;
    font-family: Roboto;
    font-weight: normal;
    color: var(--white-primary);
    background-color: var(--gold-accent);
    padding: 1rem 5rem;
    width: 21.56rem;
    height: 6.875rem;
    border-radius: 20px;
    align-content: center;
}

#about{
    height: 100vh;
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
    gap: 1.25rem 1.25rem;
}

.blue-line{
    background-color: var(--blue-accent);
    height: 0.5rem;
    width: 44.375rem;
}

#blue-line-1{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 7;
}

#about h1{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 8;
    font-size: 3rem;
    font-family: 'Libre Baskerville';
    font-weight: bold;
    letter-spacing: 0.2rem;
    align-self:last baseline;  
    color: var(--green-primary);
}

#about p{
    grid-row-start: 4;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 8;
    height: 23.125rem;
    font-size: 1.3125rem;
    font-family: Roboto;
    font-weight: normal;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
    align-content: center;
    color: var(--dark-blue-secondary);
}

#blue-line-2{
    grid-row-start: 8;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 6;
}

#skills{
    height: 100vh;
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
    gap: 1.25rem 1.25rem;
    position: relative;
    /* outline: 2px solid #fd1500; */
}

h1#language{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 5;
    font-size: 3rem;
    font-family: 'Libre Baskerville';
    font-weight: bold;
    align-self: center;  
    color: var(--green-primary);
}

div#skills-container-1{
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 2;
    font-size: 1.25rem;
    font-family: Roboto;
    font-weight: normal;
    color: var(--black-primary);
    line-height: 3rem;
}

div#skills-container-2{
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 3;
    font-size: 1.25rem;
    font-family: Roboto;
    font-weight: normal;
    color: var(--black-primary);
    line-height: 3rem;
}

div#skills-container-3{
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 4;
    font-size: 1.25rem;
    font-family: Roboto;
    font-weight: normal;
    color: var(--black-primary);
    line-height: 3rem;
}

div#skills-container-4{
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 6;
    grid-column-end: 6;
    font-size: 1.25rem;
    font-family: Roboto;
    font-weight: normal;
    color: var(--black-primary);
    line-height: 3rem;
    align-self: last baseline;
    text-align: right;
}

div#skills-container-5{
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 7;
    grid-column-end: 7;
    font-size: 1.25rem;
    font-family: Roboto;
    font-weight: normal;
    color: var(--black-primary);
    line-height: 3rem;
    align-self: last baseline;
    text-align: right;
}

h1#tools{
    grid-row-start: 7;
    grid-row-end: 7;
    grid-column-start: 5;
    grid-column-end: 8;
    font-size: 3rem;
    font-family: 'Libre Baskerville';
    font-weight: bold;
    align-self: center;  
    color: var(--green-primary);
    text-align: right;
}

#yellow-line{
    position: absolute;
    background-color: var(--gold-accent);
    height: 0.5rem;
    width: 78.35rem;
    grid-row-start: 2;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 8;
    align-self: last baseline; 
    transform: rotate(-30deg);
    transform-origin: left;
}

.project-page{
    height: 100vh;
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
    gap: 1.25rem 1.25rem;
}

.project-page h1{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 5;
    font-size: 3rem;
    font-family: 'Libre Baskerville';
    font-weight: bold;
    height: 7.875rem;
    align-content: center;
    align-self: center;
    color: var(--green-primary);
    text-align: left;
}

.project-page p{
    grid-row-start: 4;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 5;
    height: 23.1875rem;
    font-size: 1.2rem;
    font-family: Roboto;
    font-weight: normal;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
    color: var(--dark-blue-secondary);
}

.project-page a{
    text-decoration: none;
    color: var(--blue-accent);
}

div.yellow-square{
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 5;
    grid-column-end: 8;
    width: 33rem;
    height: 23.25rem;
    background-color: var(--gold-accent);
}

div.blue-square{
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 7;
    grid-column-end: 7;
    width: 10.1875rem;
    height: 15.0625rem;
    background-color: var(--blue-accent);
}

#services{
    height: 100vh;
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
    gap: 1.25rem 1.25rem;
}

#services h1{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 8;
    font-size: 3rem;
    font-family: 'Libre Baskerville';
    font-weight: bold;
    height: 7.875rem;
    align-content: center;
    align-self: center;
    color: var(--green-primary);
    text-align: left;
}

#services ul{
    grid-row-start: 3;
    grid-row-end: 7;
    grid-column-start: 3;
    grid-column-end: 7;    
}

#services li{
    width: 44.375rem;
    height: 8.0625rem;
    border: solid 0.1875rem var(--blue-accent);
    font-size: 1.35rem;
    font-family: Roboto;
    font-weight: normal;
    align-content: center;
    align-self: center;
    text-align: center;
    letter-spacing: 0.1rem;
    margin-bottom: 1.2rem;
}

#contact{
    height: 100vh;
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
    gap: 1.25rem 1.25rem;
}

#contact-container{
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 8;    
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(6, 1fr);
    gap: 1.25rem 1.25rem;
}

#contact-container h1{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 7;
    font-size: 3rem;
    font-family: 'Libre Baskerville';
    font-weight: bold;
    letter-spacing: 0.25rem;
    height: 7.875rem;
    align-content: center;
    align-self: center;
    color: var(--green-primary);
    text-align: center;
}

#contact-container img{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
    width: 21.5625rem;
    height: 15.0625rem;
    align-content: center;
    align-self: center;
    animation-name: blinking;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#contact-container p{
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 7;
    font-size: 1.75rem;
    font-family: 'Libre Baskerville';
    height: 7.875rem;
    align-content: center;
    align-self: center;
    color: var(--dark-blue-secondary);
    text-align: center;
}

#socials-container{
    grid-row-start: 6;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 8;    
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(6, 1fr);
    gap: 1.25rem 1.25rem;
}

#socials-container p{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 7;
    font-size: 1rem;
    font-family: Roboto;
    height: 7.875rem;
    align-content: flex-end;
    align-self: center;
    color: var(--black-primary);
    text-align: center;
}

div#img-container {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 7;
    display: flex;
    flex-wrap: wrap;
    width: 67.1875rem;
    height: 7.875rem;
    align-content: center;
    justify-content: center;
}

div#img-container img{
    width: 2.5rem;
    height: 2.5rem;
    margin: 0rem 2rem;
}

.page {
    opacity: 0;
    transition: opacity 2s ease;
} 

.page.visible {
    opacity: 1;
}